.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(240, 41%, 76%);
}

.body_back_ground{
    background-color: rgb(33, 33, 39) ;
    color: white;
}

#card{
    background-color: hsl(218, 14%, 22%);
    width: 400px;
    border: 4px solid rgb(33, 40, 56);
    border-radius: 100px;
    margin-top: 200px;
}
#card2{
    display: none;
    background-color: hsl(218, 14%, 22%);
    width: 400px;
    border: 4px solid rgb(33, 40, 56);
    border-radius: 100px;
    margin-top: 200px;
}

.numbers{
    display: flex;
    justify-content: space-between;
    
}

#submitButton{
    background-color:  hsl(25, 97%, 53%);
    font-size: 15px;
}
#submitButton:hover{
    background-color: hsl(19, 97%, 53%)
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

p{
    font-size: 15px;
}

#star{
    border-radius: 25px;
    display: flex;
    background-color: rgba(136, 136, 136, 0.26);;
    height: 45px;
    width:45px;
    justify-content: center;
    align-items: center;
}



#btn1, #btn2, #btn3, #btn4, #btn5 {
    background-color: rgba(136, 136, 136, 0.26);
    color: gray;
    
}
#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover{
    background-color: rgb(251, 116, 19);
    color: white;
    
}

#img{
    height: 100px;
    width: 200px;

}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratings{
    align-self: center;
    background-color: rgba(136, 136, 136, 0.26);
    border-radius: 25px;
}

#ratingsp{
    display: flex;
    align-self: center;
    margin-top: 10px;
    height: 15px;
    width: 200px;
    align-content: center;
    margin-left: 50px;
    color: hsl(25, 97%, 53%);
}